*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  min-height: 100vh;
  font-family: $font-primary;
  font-size: font-size('md');
  overflow-x: hidden;
  color: color('black');
}

svg {
  display: block;
  @include size(100%);
}
