/* ..................................
Colors
.................................. */
$colors: (
  'light': #fff,
  'black': #000,
  'primary': #5d76cb,
  'secondary': #ffa500,
  'light-gray': #ccc,
  'gray': #999,
  'dark-gray': #666,
  'beige': #f5e9dc,
);

/* ..................................
Other
.................................. */
$ease-main: 0.25s ease;

/* ..................................
Fonts
.................................. */
$font-primary: 'Montserrat', sans-serif;

$font-sizes: (
  'sm': 14px,
  'md': 16px,
);
